<button (click)="generar_TokenSeguridad()">Token de Seguridad</button>
<br><br>
<input type="text" value="{{Token_Seguridad}}">

<br><br><br>
<button (click)="generar_TokenSession()">Token de Session</button>
<br><br>
<input type="text" value="{{token_Session}}">



<!-- <form action="paginaRespuesta" method="post">

  <script type="text/javascript" src="https://static
  -content-qas.vnforapps.com/v2/js/checkout.js"
    data-sessiontoken="67cf73735f83590eabf1382ff49e5e
    08b261976326c6897cb764fd160a15a8ca"
    data-channel="web"
    data-merchantid="341198210"
    data-purchasenumber="2020100901"
    data-amount="10.5"
    data-expirationminutes="20"
    data-timeouturl="about:blank"
    data-merchantlogo="img/comercio.png"
    data-formbuttoncolor="#000000"
  ></script>
  </form> --> 
    <div>
      <button (click)="openForm();">Pagar</button>
    </div>